.part-meta {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #999;
}
.section-empty {
    padding-top: 100px;
    padding-bottom: 100px;
    color: #999;
    font-size: 20px;
    text-align: center;
    background: #fff;
}
.topic-list {}
.topic-item {
    background: #fff;
    padding: 15px;
    margin-bottom: 5px;
}
.topic-info {
    float: left;
}
.topic-content {
    padding-left: 40px;
}
.topic-title {
    font-size: 18px;
}
.topic-text {
    margin-top: 8px;
    margin-bottom: 8px;
}
.topic-img {
    height: 90px;
    margin-right: 10px;
}
.topic-meta {
    margin-top: 10px;
}
.topic-meta .meta-item {
    color: #999;
    margin-right: 10px;
}
.label-good-topic {
    background-color: #ec4758;
    margin-left: 10px;
}


