<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjh.eshop.mapping.goodsCollectionMapper">
	<resultMap id="BaseResultMap" type="GoodsCollection">
		<id column="collection_id" property="id" />
		<result column="add_time" property="addTime" /> 
		<association property="user" javaType="User">
			<id column="user_id" property="id" /> 
		</association> 
		<association property="goods" javaType="Goods">
			<id column="goods_id" property="id" />
			<id column="goods_name" property="name" />
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		collection_id, user_id, goods_id, add_time
	</sql>
	<select id="selectById" resultMap="BaseResultMap" parameterType="String">
		select <include refid="Base_Column_List" />
		from es_goods_collection
		where collection_id = #{id}
	</select>
	<select id="selectByUserId" resultMap="BaseResultMap" parameterType="String">
		select *
		from es_goods_collection c
		left join es_goods g
		on c.goods_id = g.goods_id
		where user_id = #{id}
		order by
		c.add_time DESC
	</select>
	<select id="selectBySelective" resultMap="BaseResultMap" parameterType="GoodsCollection">
		SELECT * FROM es_goods_collection
		<where>
			1 = 1
			<if test="user != null">and user_id = #{user.id}</if>
			<if test="goods != null">and goods_id = #{goods.id}</if>
		</where>
	</select>
	<insert id="insert" parameterType="Brand">
		insert into es_goods_collection (collection_id, goods_id, user_id)
		values (#{id}, #{goods.id}, #{user.id})
	</insert>
	<delete id="deleteById" parameterType="String">
		delete from es_goods_collection
		where collection_id = #{id}
	</delete>
	<delete id="deleteByGoodsId" parameterType="String">
		delete from es_goods_collection
		where goods_id = #{id}
	</delete>
</mapper>