<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjh.eshop.mapping.goodsImageMapper">
	<resultMap id="BaseResultMap" type="GoodsImage">
		<id column="image_id" property="id" />
		<result column="goods_id" property="goodsId" />
		<result column="image_url" property="url" />
	</resultMap>
	<sql id="Base_Column_List">
		image_id, goods_id, image_url
	</sql>
	<select id="selectById" resultMap="BaseResultMap" parameterType="String">
		select *
		from es_goods_image
		where image_id = #{id}
	</select>
	<select id="selectByGoodsId" resultMap="BaseResultMap" parameterType="String">
		select <include refid="Base_Column_List" />
		from es_goods_image
		where goods_id = #{goodsId}
	</select>
	<insert id="insert" parameterType="GoodsImage">
		insert into es_goods_image (image_id, goods_id, image_url)
		values (#{id}, #{goodsId}, #{url})
	</insert>
	<delete id="deleteById" parameterType="String">
		delete from es_goods_image
		where image_id = #{id}
	</delete>
</mapper>