@charset "utf-8";
/* CSS Document */

.wrap {
	height: 650px;
	background: url(../images/admin/login/bg.gif);
}
.content {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	padding: 1px;
	background: url(../images/admin/login/bg.jpg);
	background-size: 100% 100%;
}
.login {
	margin: 200px 430px;
}
.login-text {
	margin: 20px 0;
	padding-top: 20px;
	color: #3d96c9;
	font-size: 16px;
}
.user-name {
	width: 343px;
	height: 48px;
	padding-left: 40px;
	background: url(../images/admin/login/username.gif) no-repeat;
	border: none;
}
.password {
	width: 343px;
	height: 48px;
	margin-top: 20px;
	padding-left: 40px;
	background: url(../images/admin/login/pwd.gif) no-repeat;
	border: none;
}
.login-btn {
	width: 97px;
	height: 41px;
	margin-top: 20px;
	color: #fff;
	font-size: 18px;
	background: url(../images/admin/login/btn.gif) no-repeat;
	border: none;
}
.login-btn:hover {
	cursor: pointer;
}