@charset "utf-8";
/* CSS Document */

/* reset */
* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	display: inline-block;
	color: #666;
	text-decoration: none;
	text-align: center;
	vertical-align: central;
}
a:hover {
	color: #b61d1d;
}
body {
	color: #000;
	font-family: 微软雅黑;
	font-size: 14px;
}
.clearfix {
	clear: both;
}
h1,
h2,
h3 {
	font-weight: normal;
}

.float-right {
	float: right;
}
.float-left {
	float: left;
}
/*  */

.no-records {
	height: 100px;
	color: #999;
	font-size: 16px;
	line-height: 100px;
	text-align: center;
}

/* 布局 */
.mycontainer {
    padding: 10px 30px;
    margin-right: auto;
    margin-left: auto;
    background: #f3f3f4；
}
.admin-content {
	padding: 10px;
	background-color: #fff;
}

.admin-section {
	margin-bottom: 10px;
	padding: 10px;
	background: #f3f3f3;
	border: #e1e1e1 solid 1px;
	overflow: auto;
}
.admin-table-section {
	margin-bottom: 10px;
	border: #e1e1e1 solid 1px;
	overflow: auto;
}

/* 页码 */
.page {
	float: right;
	width: 800xp;
	margin-top: 5px;
}
.page-enable {
	padding: 0 5px;
	line-height: 28px;
	text-decoration: underline;
}
.page-unable {
	padding: 0 5px;
	color: #999;
	line-height: 28px;
}
.page-text {
	padding: 0 5px;
	line-height: 28px;
}
.page-size {
	width: 30px;
}

/* 批量操作 */
.operate {
	margin-top: 20px;
}

/* 版权 */
.copyright {
	width: 200px;
	margin: 0 auto;
	color: #999;
}

/*  */
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*  */
.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}
.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
}
.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}
.info-box-text {
    text-transform: uppercase;
}
.info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}
/* 插件 */
.widget-box {
	background: #f00;
}
/*  */
.bg-blue,
.bg-green,
.bg-orange,
.bg-red {
	color: #fff !important;
}
.bg-blue {
	background-color: #00c0ef;
}
.bg-green {
	background-color: #00a65a;
}
.bg-orange {
	background-color: #f39c12;
}
.bg-red {
	background-color: #dd4b39;
}
/*  */
.box.box-default {
    border-top-color: #d2d6de;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}
.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}
.pull-right {
    float: right;
}
.pull-right {
    float: right!important;
}
.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}

.box.collapsed-box .box-body,.box.collapsed-box .box-footer{display:none}


.box .box-solid {
    color: #fff;
    background: #00a65a;
    background-color: #00a65a;
}
.box-widget {
    border: none;
    position: relative;
}

/* 用户 */
.widget-user .widget-user-header {
    padding: 20px;
    height: 120px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.widget-user .widget-user-image {
    position: absolute;
    top: 65px;
    left: 50%;
    margin-left: -45px;
}
.box .border-right {
    border-right: 1px solid #f4f4f4;
}

.widget-user .widget-user-image>img {
    width: 90px;
    height: auto;
    border: 3px solid #fff;
}
.img-circle {
    border-radius: 50%;
}
.description-block {
    display: block;
    margin: 10px 0;
    text-align: center;
}
.widget-user .box-footer {
    padding-top: 30px;
}
