@charset "utf-8";
/* CSS Document */

/* reset */
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
body {
	font-family: 微软雅黑;
}
/* bootstrap */

/* 头部 */

#menu {
	position: fixed;
	z-index: 1000;
	width: 220px;
	background: #2f4050;
}
#menu li {}
#menu li > a {
	display: inline-block;
	width: 100%;
	padding: 10px 15px 10px 20px;
	text-align: left;
}
#menu > li > a:hover {
	color: #fff;
	background: #555;
}
#menu > li > a:hover .fa{
	color: #fff;
}
#menu .active {
	border-left: #19aa8d solid 4px;
	background: #293846;
}
#menu .fa {
	color: #a7b1c2;
}
#menu a {
	color: #a7b1c2;
}
#menu ul {
	padding-left: 20px;
}
#menu .menu-icon {
	font-size: 18px;
}
#menu .menu-lable {
	margin-left: 10px;
}
#menu .active>a>.fa.arrow:before {
    content: "\f107";
}
#menu .fa.arrow {
	float: right;
}
#menu .fa.arrow:before {
    content: "\f104";
}

#content {
	width: calc(100% - 220px);
	height: 640px;
    margin: 0 0 0 220px;
	background: #f00;
}
#content .content-body {
	
}
#content .navbar-header {
    width: 60%;
}

.main-frame {
	display: block;
	width: 100%;
	height: 100%;
	min-height: 100%;
	border: none;
}

#footer {}