@charset "utf-8";
/* CSS Document */

/* tab */
#tabbox { 
	margin: 0px 0px;
	overflow: hidden; 
}
.tabs {
	height: 40px;
}
.tabs li {
	float: left;
	overflow: hidden;
	position: relative;
}
.tabs li a {
	display: block;
	height: 40px;
	padding: 0 30px;
	font-size: 16px;
	text-align: center;
	line-height: 50px;
	outline: none;
}
.tabs li a:hover {}    
.tabs .thistab a,
.tabs .thistab a:hover {
	color: #666;
	background: #fff;
}
.tab_conbox {
}
.tab_con { 
	display:none;
}
.tab_con {
	padding: 20px;
	font-size: 14px;
	background: #fff;
}

/**/
.data-table {
	width: 100%;
}
.data-table tr {
}
.data-table td {
	padding: 5px 0;
}
.data-table tr td:nth-child(1) {
	width: 20%;
	text-align: right;
}
.data-table tr td:nth-child(2) {
	width: 80%;
	padding-left: 20px;
}
.data-table .tip {
	color: #999;
}

.detail-desc {
	width: 500px;
	height: 250px;
}

/**/
.btn-save {
	margin: 20px 0;
}