@charset "utf-8";
/* CSS Document */
.content {
	margin-top: 10px;
}

/* 商品详情 */
.goods-detail {
	width: 1000px;
	margin: 0 auto;
	overflow: auto;
}
.images {
	float: left;
	overflow: auto;
}
.big-image {
	width: 360px;
	height: 360px;
	border: #999 solid 1px;
}
.thumb-list {
	overflow: hidden;
}
.thumb-list li {
	float: left;
	width: 67px;
	height: 67px;
	margin-right: 10px;
	border: #CCC solid 1px;
}
.thumb-selected {
	border: #f00 solid 1px !important;
}
.thumb-list li img {
	display: inline-block;
	width: 67px;
	height: 67px;
}

.goods-info {
	float: left;
	width: 500px;
	margin-left: 20px;
}
.goods-name {
	color: #000;
	font-size: 20px;
	padding-bottom: 5px;
	border-bottom: #999 solid 1px;
}
.info-list {
	padding-bottom: 10px;
	border-bottom: #999 solid 1px;
	overflow: auto;
}
.info-list li {
	float: left;
	width: 50%;
	margin-top: 10px;
}
.shop-name {
	color: #b61d1d !important;
}
.collection {
	margin: 5px 0;
	color: #b61d1d;
	text-decoration: underline;
}
.shopcar {
	margin-top: 10px;
}
.subtract-btn {
	width: 20px;
	height: 20px;
	color: #f00;
	border: #999 solid 1px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.number-input {
	width: 30px;
	height: 20px;
	padding-left: 10px;
	border: #999 solid 1px;
	outline: none;
	vertical-align: top;
}
.add-btn {
	width: 20px;
	height: 20px;
	color: #f00;
	border: #999 solid 1px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* tab */
#tabbox { 
	width: 1000px;
	margin: 30px auto;
	overflow: hidden; 
}
.tabs {
	height: 50px;
	border: 1px solid #bbb
}
.tabs li {
	float: left;
	border-right: 1px solid #bbb;
	overflow: hidden;
	position: relative;
}
.tabs li a {
	display: block;
	height: 50px;
	padding: 0 30px;
	font-size: 16px;
	text-align: center;
	line-height: 50px;
	outline: none;
}
.tabs li a:hover {}    
.tabs .thistab a,
.tabs .thistab a:hover {
	color: #fff;
	background: #e60012;
}
.tab_conbox {
}
.tab_con { 
	display:none;
}
.tab_con {
	padding-top: 12px;
	margin-top: 10px;
	font-size: 14px; 
}

/* 评价Tab */
.tabs2 {
	border-bottom: #999 solid 1px;
	overflow: auto;
}
.tabs2 li {
	float: left;
	height: 30px;
	padding: 0 20px;
	line-height: 30px;
}
.tabs2 .thistab {
	border-bottom: #f00 solid 1px;
}
.tab_con2 {
	margin-top: 10px;
}

/* 图片放大 */
div.zoomDiv {
	z-index: 999;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 200px;
	background: #ffffff;
	border: 1px solid #CCCCCC;
	display: none;
	text-align: center;
	overflow: hidden;
}
div.zoomMask {
	position: absolute;
	background: url(../images/mask.png) repeat scroll 0 0 transparent;
	cursor: move;
	z-index: 1;
}

/* 商品评价 */
.comment-list {}
.comment {
	padding: 10px 0;
	border-bottom: #e1e1e1 solid 1px;
	overflow: auto;
}
.comment-left {
	width: 80px;
	float: left;
}
.comment-head {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	border-radius: 25px;
}
.comment-right {
	float: left;
	margin-left: 10px;
}
.comment-content {
	margin-top: 10px;
}
.comment-time {
	margin-top: 10px;
	color: #CCC;
}
.star {
	display: inline-block;
	width: 90px;
	height: 20px;
	background: url(../images/sprite_icon.png) no-repeat;
}
.star5 {
	background-position: -10px -130px;
}
.star4 {
	background-position: -10px -110px;
}
.star3 {
	background-position: -10px -90px;
}
.star2 {
	background-position: -10px -70px;
}
.star1 {
	background-position: -10px -50px;
}